<!DOCTYPE html>
<html>
  <head>
    <title>RLS Multitenant App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>

  <body class='bg-light'>
    <div class='container container-lg'>
      <header class="d-flex flex-wrap justify-content-center py-3 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <span class="fs-4">Postgres + RLS + Rails Demo App</span>
        </a>

        <ul class="nav nav-pills">
          <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        </ul>
      </header>
      <div class="p-3 text-bg-light">
        <div class="container">
          <% if !current_page?(root_path) %>
            <%= link_to "< Back to all teams", root_path %>
          <% end %>
          <div class="text-end">
            <div>
              <% if current_user.present? %>
                <p>
                  Logged in as <%= current_user.name %> a <%= current_user.role %> on team <%= current_user.team.name %>
                  <%= link_to "click here to logout", session_url, data: { "turbo-method": :delete} %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <%= yield %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
